body {
	font-family: "Open Sans",Arial,sans-serif;
}
#main {
	width: 500px;
	margin: 0 auto;
	padding: 3em 0 0;
}
#main h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin: 0 0 1em;
}
#madlibz {
}
.game-list-container p {
	font-size: 1.2em;
	line-height: 1.5em;
	font-style: italic;
	text-align: center;
}
.game-list {
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
}
.wordForm {
	text-align: center;
	font-size: 1.5em;
	margin: 0 0 1.5em;
}
.wordForm p.desc {
	margin: 0 0 0.5em;
}
.wordForm p.examples {
	margin: 0 0 1em;
	font-size: 0.8em;
	color: #909090;
	font-style: italic;
}
.wordForm button {
	display: none;
}
.wordForm input {
	width: 10em;
	padding: 0.3em;
	font-size: 1em;
}
.done-blank {
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
}
.finished-story h2 {
	text-align: center;
	font-size: 2em;
	font-style: italic;
	line-height: 1.3em;
	margin: 0 0 1em;
}
.finished-story p {
	font-size: 1.5em;
	line-height: 1.5em;
}
.finished-story span {
	font-weight: bold;
}
